{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Main Page</title>
</head>

<body>

<div id="header">
    <!-- Верхняя часть страницы -->
    {#    <img src="logo.gif" width="187" height="29" alt="Наш логотип" class="logo" />#}
    <span class="slogan">Тестовая страница</span>
    <!-- Верхняя часть страницы -->
</div>

<div id="content">
    <!-- Заголовок -->
    <h1>Добро пожаловать на наш сайт!</h1>
    <!-- Заголовок -->
    <!-- Область основного контента -->
    <h3>Lorem ipsum</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vulputate fringilla massa vel semper. Vivamus
        a interdum dolor, sed lacinia lectus. Pellentesque sagittis iaculis sollicitudin. Pellentesque ante massa,
        elementum vel orci ac, tempus consectetur elit. Vestibulum ultrices ac neque vel facilisis. Nunc ultricies
        gravida lectus ut maximus. Duis mollis quam odio, ut pellentesque diam placerat ac. Donec eleifend leo vel
        fringilla hendrerit. Fusce pellentesque urna in ligula facilisis aliquam. Cras ut quam augue. Aliquam elementum
        felis sit amet scelerisque gravida. Fusce venenatis eros nisi, ac imperdiet dolor ultrices vehicula.
    </p>
    <h3>Lorem ipsum</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vulputate fringilla massa vel semper. Vivamus
        a interdum dolor, sed lacinia lectus. Pellentesque sagittis iaculis sollicitudin. Pellentesque ante massa,
        elementum vel orci ac, tempus consectetur elit. Vestibulum ultrices ac neque vel facilisis. Nunc ultricies
        gravida lectus ut maximus. Duis mollis quam odio, ut pellentesque diam placerat ac. Donec eleifend leo vel
        fringilla hendrerit. Fusce pellentesque urna in ligula facilisis aliquam. Cras ut quam augue. Aliquam elementum
        felis sit amet scelerisque gravida. Fusce venenatis eros nisi, ac imperdiet dolor ultrices vehicula.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vulputate fringilla massa vel semper. Vivamus
        a interdum dolor, sed lacinia lectus. Pellentesque sagittis iaculis sollicitudin. Pellentesque ante massa,
        elementum vel orci ac, tempus consectetur elit. Vestibulum ultrices ac neque vel facilisis. Nunc ultricies
        gravida lectus ut maximus. Duis mollis quam odio, ut pellentesque diam placerat ac. Donec eleifend leo vel
        fringilla hendrerit. Fusce pellentesque urna in ligula facilisis aliquam. Cras ut quam augue. Aliquam elementum
        felis sit amet scelerisque gravida. Fusce venenatis eros nisi, ac imperdiet dolor ultrices vehicula.
    </p>
    <!-- Область основного контента -->
</div>
<div id="nav">
    <!-- Навигация -->
    <h2>Навигация по сайту</h2>
    <!-- Меню -->
    <ul>
        <li>
            <a href='index.php'>Домой</a>
        </li>
        <li>
            <a href='about.php'>О нас</a>
        </li>
        <li>
            <a href='contact.php'>Контакты</a>
        </li>
    </ul>
    <!-- Меню -->
    <!-- Навигация -->
</div>
<div id="footer">
    <!-- Нижняя часть страницы -->

    <!-- Нижняя часть страницы -->
</div>
</body>

</html>