{% extends 'base.html' %}

{% block title %}
    Галерея
{% endblock %}

{% block page_title %}
    Галерея
{% endblock %}

{% block data %}
    <div class="d-inline-flex justify-content-between w-100 mb-3">
        <div class="left">
            <a class="btn btn-dark" href="{% url 'home' %}">Назад</a><br>
        </div>
    </div>

    {% if user.is_authenticated %}
        <form action="{% url 'gallery' %}" method="post" class="mt-4" enctype="multipart/form-data">
            <div class="input-group">
                {% csrf_token %}
                {{ form.images }}
                <input type="submit" class="btn btn-outline-secondary" id="inputGroupFileAddon04" value="Upload"
                       name="UploadPic">
            </div>
        </form>
    {% endif %}

    {% for pic in pictures %}
        <img src="{{ pic.images.url }}" class="img-thumbnail mt-3" width="200" height="200" alt="">
    {% endfor %}


{% endblock %}