{% extends 'base.html' %}

{% block title %}
    Done Tasks
{% endblock %}

{% block page_title %}
    This tasks is DONE!
{% endblock %}

{% block data %}
    <a class="btn btn-dark" href="{% url 'todolist' %}">Назад</a>
    {% for task in tasks %}
        <div class="item-row mt-3">
            <div class="w-100 d-inline-flex justify-content-between">
                <div class="left align-middle">
                    <strike class="me-3">{{ task }}</strike>
                    {% if user.is_authenticated %}
                        <a class="btn btn btn-info" href="{% url 'recover' pk=task.pk %}">Recovery</a>
                    {% endif %}
                </div>
                <div class="right">
                    {% if user.is_authenticated %}
                        <a href="{% url 'delete' pk=task.pk %}" class="btn btn-danger">Delete</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}