{% extends 'base.html' %}

{% block title %}
    To-Do List
{% endblock %}

{% block page_title %}
    To-Do List
{% endblock %}

{% block data %}
    <div class="d-inline-flex justify-content-between w-100 mb-3">
        <div class="left">
            <a class="btn btn-dark" href="{% url 'home' %}">Назад</a>
            <a class="btn btn-success" href="{% url 'done_list' %}">Выполненные задачи</a>
        </div>
    </div>

    {% if user.is_authenticated %}
        <form method="post" class="mt-4">
            {% csrf_token %}
            {{ form.title }}

            <input type="submit" name="AddTask" class="btn btn-info mt-3 w-100" value="Add Task">
        </form>
    {% endif %}
    {% for task in tasks %}
        <div class="item-row mt-3">
            {% if user.is_authenticated %}
                <a class="btn btn btn-info" href="{% url 'done' pk=task.pk %}">Done</a>
                <a class="btn btn btn-info me-3" href="{% url 'edit' pk=task.pk %}">Edit</a>
            {% endif %}
            <span class="">{{ task }}</span>
        </div>
    {% endfor %}
{% endblock %}