{% extends 'base.html' %}

{% block title %}
    Удаление поста
{% endblock %}

{% block page_title %}
    {{ post.title }}
{% endblock %}

{% block content %}
    <div class="d-inline-flex justify-content-between w-100 mb-3">
        <div class="left">
            <a class="btn btn-dark" href="{% url 'home' %}">Назад</a>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-header">
            Автор: {{ post.author }}, {{ post.created|date:"Y-m-d H:i:s" }}
        </div>
        <div class="card-body">

             <p class="card-text text-center">Вы уверены, что хотите удалить данный пост?</p>

        </div>
        <div class="card-footer text-muted">
            <div class="d-inline-flex justify-content-between w-100">
                <div class="left">
                    <a href="{% url 'post_delete' slug=post.slug %}" class="btn btn-danger me-3">Да</a>
                </div>
                <div class="right">
                    <a href="{% url 'post_detail' slug=post.slug %}" class="btn btn-primary">Нет</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}