{% extends 'base.html' %}

{% block title %}
    Добавить новость
{% endblock %}

{% block page_title %}
    Добавить пост:
{% endblock %}

{% block data %}
    <div class="d-inline-flex justify-content-between w-100 mb-3">
        <div class="left">
            <a class="btn btn-dark" href="{% url 'home' %}">Назад</a>
        </div>
    </div>

    <form action="{% url 'post_new' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.as_p }}

        <div class="mb-3">
            <button type="submit" class="btn btn-success">Добавить новость</button>
        </div>
    </form>
{% endblock %}