{% extends 'base.html' %}

{% block title %}
    Добавить новость
{% endblock %}

{% block page_title %}
    Добавить пост:
{% endblock %}

{% block data %}
    <form action="{% url 'post_new' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.as_p }}

        <div class="mb-3">
            <button type="submit" class="btn btn-success">Добавить новость</button>
            <a href="{% url 'index_blog' %}" class="btn btn-dark">Назад</a>
        </div>
    </form>
{% endblock %}