{% extends 'base.html' %}

{% block title %}
    Добавить новость
{% endblock %}

{% block page_title %}
    Добавить пост:
{% endblock %}

{% block content %}
    <form action="{% url 'new_post' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.as_p }}

        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Добавить новость</button>
            <a href="{% url 'index_blog' %}" class="btn btn-primary">Назад</a>
        </div>
    </form>
{% endblock %}