{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description"
          content="{% block description %}Личный блог, написанный самоучкой на популярном фреймфорке Django.{% endblock %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/png" href="{% static "favicon.ico" %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <title>
        {% block title %}
            alexeev.fun
        {% endblock %}
    </title>
</head>

<body>
<div class="container">
    {% include 'inc/header.html' %}

    {% block login %}{% endblock %}

    <div class="row mt-5">
        {% block sidebar %}
            {% include 'inc/sidebar.html' %}
        {% endblock %}

        {% block content %}
            <div class="col-md-10 p-3 border">
                <h1 class="text-center mb-3">
                    {% block page_title %}

                    {% endblock %}
                </h1>
                {% block data %}

                {% endblock %}
            </div>
        {% endblock %}
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
</body>
</html>
