<nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-opacity-75">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item ms-3">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item ms-3">
                    <a class="nav-link active" aria-current="page" href="{% url 'todolist' %}">To-Do List</a>
                </li>
                <li class="nav-item ms-3">
                    <a class="nav-link active" aria-current="page" href="{% url 'gallery' %}">Gallery</a>
                </li>
                <li class="nav-item ms-3">
                    <a class="nav-link active" aria-current="page" href="#">Новости Python</a>
                </li>
                <li class="nav-item ms-3">
                    <a class="nav-link active" aria-current="page" href="#">Источники</a>
                </li>
                <li class="nav-item ms-3">
                    <a class="nav-link active" aria-current="page" href="{% url 'about' %}">Обо мне</a>
                </li>
            </ul>

            {% if user.is_authenticated %}
                <ul class="navbar-nav mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/godmodeon">Админка</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">(Выход)</a>
                    </li>
                </ul>
            {% else %}
                <ul class="navbar-nav mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Login</a>
                    </li>
                </ul>
            {% endif %}

        </div>
    </div>
</nav>