<div class="col-md-2">
    <ul class="list-group">
        <li class="list-group-item">
            <a class="link-dark text-decoration-none" href="{% url 'index_blog' %}">Полезные статьи</a>
        </li>
        <li class="list-group-item">
            <a class="link-dark text-decoration-none" href="{% url 'todolist' %}">To-Do List</a>
        </li>
        <li class="list-group-item">
            <a class="link-dark text-decoration-none" href="{% url 'gallery' %}">Галерея</a>
        </li>
        <li class="list-group-item">
            {% include 'inc/weather.html' %}
        </li>
    </ul>
</div>