<div class="col-md-2">
    <ul class="list-group">
        <li class="list-group-item">
            <a class="link-dark text-decoration-none" href="{% url 'index_blog' %}">Полезные статьи</a>
        </li>
        <li class="list-group-item">
            <a class="link-dark text-decoration-none" href="{% url 'todolist' %}">To-Do List</a>
        </li>
        <li class="list-group-item">
            <a class="link-dark text-decoration-none" href="#">Утила 2</a>
        </li>
        <li class="list-group-item">
            <a class="link-dark text-decoration-none" href="#">Утила 3</a>
        </li>
    </ul>
</div>